<link rel="stylesheet" href="/css/_post.css">
<script src="https://kit.fontawesome.com/3098645223.js" crossorigin="anonymous"></script>


    <div id="post-<%= post._id %>" class="post-box">
        <p>
            <% if(locals.user && locals.user.id == post.user.id) {%>
                  <small>
                      <a class="delete-post-button" href="/posts/destroy/<%= post._id %>"><i class="fa-solid fa-trash"></i></a>
                  </small> 
            <% } %>
            <li class="post-content"><%= post.content %></li>
            <small class="username"><%= post.user.name %></small>

                 <!--display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
             <br>
             <!-- study about the data attribute -->
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                            <%= post.likes.length %><i class="fa-solid fa-thumbs-up"></i>
                    </a>
                <% }else{ %>
                    <%= post.likes.length %><i class="fa-solid fa-thumbs-up"></i>
                <% } %>
            </small>
           
        </p>
        <div class = "post-comments"> 
            <% if(locals.user){ %>
                <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
                    <input type="text" name="content" placeholder="Add Comments" required>
                    <!-- sending post id of comments by Preplaced value -->
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="Post Comment">
                </form>
            <% } %> 
            <div class="post-comments-list">
                <ul id="post-comments-<%= post._id %>">
                    <% for(comment of post.comments){ %>
                        <%-include('_comment')-%>
                    <% } %>    
                </ul>
            </div>
        </div>
    </div>

    
